<% include header %>

    <div class="jumbotron">
        <h1><%= legislator.first_name %> <%= legislator.last_name%></h1>
    </div><!--div class="jumbotron"-->

	<a href="/">Return to List</a>
		
<% include footer %>
